@import url('https://fonts.googleapis.com/css?family=Oswald');
html {
	height: 100%;
	width: 100%;
}

body {
	background: linear-gradient(#F84592, #9429E4);
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	

}

.dead-center {
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0
}

div#numberHolderDiv {
	color: white;
	font-family: 'Oswald', sans-serif;
	font-size: 400px;
	text-align: center;
	height: 100%;
	width: 100%;
}

img {
	width: 650px;
	margin-top: 150px;
}

p {
	color: white;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
}